* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, html {
  width: 100%;
}

.body {
  padding: 0;
  margin: 0 auto;
  font-family: "Open Sans", "sans-serif";
  background-color: rgb(73, 65, 46);
}

img {
  width: 100%;
}

.wrapper {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.page-conteiner {
  background-image: url("images/theme3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 895px;
  text-decoration: none;
  flex: 1 0 auto;
}

.header {
  padding: 15px;
  display: flex;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 5px solid rgb(221, 221, 221);
  align-items: flex-start;
  justify-content: space-between;
  background-color:rgba(0, 0, 0, 0.308);
}

.logo {
  font-family: 'Norican';
  padding: 10px;
  padding-top: 10px;
  padding-left: 140px;
  color: #FFF;
  font-size: 55px;
  text-decoration: none;
}

.navbar {
  padding-right: 110px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

.tablink {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
  font-size: 17px;
  font-family: 'Montserrat';
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color:rgba(0, 0, 0, 0);
  transition: all .7s ease;
  -webkit-transition: all .7s ease;
}

.tablink:hover {
  opacity: .8;
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
  color: rgb(102, 255, 102);
  text-decoration: none;
}

.slava {
  width: 50%;
  float: right;
  padding: 5px;
}

.tabcontent {
  /* font-family: 'Montserrat'; */
  color: rgb(255, 255, 255);
  
  font-size: 19px;
  padding: 10px;
  padding-right: 150px;
  padding-left: 150px;
}

.content {
  color: rgb(255, 255, 255);
  text-indent: 20px;
} 

/* ---------------------------Slideshow--------------------------- */

.restoration-container {
  position: relative;
}

.slides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer; 
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: black;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.restoration-container__caption {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: .7;
}

.active,
.demo:hover {
  opacity: 1;
}

/* ---------------------------Contact--------------------------- */

.contact-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"], #contact input[type="email"],
#contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: green;
  display: block;
  font-size: 30px;
}

#contact h4 {
  color:#777;
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0cf;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #09c;
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color:#888;
 }
 :-moz-placeholder {
  color:#888;
 }
 ::-moz-placeholder {
  color:#888;
 }
 :-ms-input-placeholder {
  color:#888;
 }

/* ---------------------------footer--------------------------- */

.footer {
  width: 100%;
  font-family: 'Montserrat';
  font-size: 18px;
  padding: 10px;
  color: #FFF;
  background-color:rgba(0, 0, 0, 0.897);
  border-top: 5px solid rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
}

.maritodd {
  font-family: 'Faster One', cursive;
  opacity: .5;
  transition: all .7s ease;
  -webkit-transition: all .7s ease;
}

.maritodd:hover {
  opacity: 1;
  transition: all .6s ease-in;
  -webkit-transition: all .6s ease-in;
  text-decoration: none;
}
.who17 {
  color: rgb(255, 255, 102);
}
.who18 {
  color: rgb(255, 255, 102);
}
.who19 {
  color: rgb(255, 255, 102);
}
.who {
  color: rgb(255, 255, 102);
}
.who1 {
  color: rgb(179, 255, 102);
}
.who2 {
  color: rgb(140, 255, 102);
}
.who3 {
  color: rgb(102, 255, 102);
}
.who4 {
  color: rgb(102, 255, 140);
}
.who5 {
  color: rgb(102, 255, 179);
}
.who6 {
  color: rgb(102, 255, 217);
}
.who7 {
  color: rgb(102, 255, 255);
}
.who8 {
  color: rgb(102, 217, 255);
}
.who9 {
  color: 	rgb(102, 179, 255);
}
.who10 {
  color: rgb(102, 140, 255);
}
.who11 {
  color: rgb(102, 102, 255);
}
.who12 {
  color: rgb(140, 102, 255);
}
.who13 {
  color: rgb(179, 102, 255);
}
.who14 {
  color: rgb(217, 102, 255);
}
.who15 {
  color: rgb(255, 102, 255);
}
.who16 {
  color: rgb(255, 102, 217)	;
}
  /* ---------------------------icon--------------------------- */

/* ---------------------------adaptive--------------------------- */
@media screen and (max-width: 1080px) {
  .logo {
    padding-left: 70px;
  }
  .tabcontent {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 900px) {
  /* For tablets: */
  .header {
    display: block;
    text-align: center;
    padding: 10px;
  }
  .navbar {
    display: block;
    text-align: center;
    padding: 10px;
  }
  .tabcontent {
    width: 100%;
    font-size: 15px;
    padding: 5px;
  }
  .content {
    font-size: 18px;
    padding: 5px;
  }
  .logo {
    padding: 5px;
  }
  .footer {
    font-size: 15px;
  }
}
@media screen and (max-width: 550px) {
  /* For mobile phones: */
  .navbar, .tabcontent, .logo, .slava {
    width: 100%;
    padding: 0;
  }
  .logo {
    border-bottom: 5px solid rgb(221, 221, 221);
  }
  .tabcontent {
    font-size: 14px;
    padding: 3px;
  }
  .content {
    font-size: 18px;
    padding: 3px;
  }
  .footer {
    font-size: 15px;
  }
  .maritodd {
    display: none;
  }
}