* {box-sizing: border-box;}

body, 
html {
  width: 100%;
  height: 100%;
}

.body {
  padding: 0;
  margin: 0 auto;
  font-family: "Open Sans", "sans-serif";
  background-color: rgb(73, 65, 46);
}

img {
  width: 100%;
}

.page-conteiner {
  background-image: url("images/theme3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 895px;
  text-decoration: none;
 
}

.header {
  padding: 15px;
  display: flex;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 5px solid rgb(221, 221, 221);
  align-items: flex-start;
  justify-content: space-between;
  background-color:rgba(0, 0, 0, 0.308);
}

.logo {
  font-family: 'Norican';
  padding: 10px;
  padding-top: 10px;
  padding-left: 140px;
  color: #FFF;
  font-size: 55px;
  text-decoration: none;
}

.navbar {
  padding-right: 110px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

.tablink {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
  font-size: 17px;
  font-family: 'Montserrat';
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color:rgba(0, 0, 0, 0);
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
}

.tablink:hover {
  opacity: .7;
  transition: all .5s ease;
  -webkit-transition: all .6s ease;
  color: rgb(102, 255, 102);
  text-decoration: none;
}

.slava {
  width: 50%;
  float: right;
}

.tabcontent {
  /* font-family: 'Montserrat'; */
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 19px;
  padding: 10px;
  padding-right: 150px;
  padding-left: 150px;
  /* background-color:rgba(0, 0, 0, 0.5); */
}

.content {
  /* font-family: 'Montserrat'; */
  color: rgb(255, 255, 255);
  text-indent: 35px;
} 


/* ---------------------------footer--------------------------- */

.footer {
  position: relative; 
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Montserrat';
  font-size: 18px;
  padding: 10px;
  color: #FFF;
  background-color:rgba(0, 0, 0, 0.897);
  border-top: 5px solid rgb(221, 221, 221);
}

.maritodd {
  font-family: 'Faster One', cursive;
  float: right;
  opacity: .5;
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
}

.maritodd:hover {
  opacity: 1;
  transition: all .6s ease-in;
  -webkit-transition: all .6s ease-in;
  text-decoration: none;
}
.who17 {
  color: rgb(255, 255, 102);
}
.who18 {
  color: rgb(255, 255, 102);
}
.who19 {
  color: rgb(255, 255, 102);
}
.who {
  color: rgb(255, 255, 102);
}

.who1 {
  color: rgb(179, 255, 102);
}

.who2 {
  color: rgb(140, 255, 102);
}

.who3 {
  color: rgb(102, 255, 102);
}

.who4 {
  color: rgb(102, 255, 140);
}

.who5 {
  color: rgb(102, 255, 179);
}

.who6 {
  color: rgb(102, 255, 217);
}

.who7 {
  color: rgb(102, 255, 255);
}

.who8 {
  color: rgb(102, 217, 255);
}

.who9 {
  color: 	rgb(102, 179, 255);
}

.who10 {
  color: rgb(102, 140, 255);
}

.who11 {
  color: rgb(102, 102, 255);
}

.who12 {
  color: rgb(140, 102, 255);
}

.who13 {
  color: rgb(179, 102, 255);
}

.who14 {
  color: rgb(217, 102, 255);
}

.who15 {
  color: rgb(255, 102, 255);
}

.who16 {
  color: rgb(255, 102, 217)	;
}
  /* ---------------------------icon--------------------------- */

/* ---------------------------adaptive--------------------------- */

@media screen and (max-width: 1023px) {
  /* For laptops: */
  .header {
    text-align: center;
  }
  .navbar {
    text-align: center;
  }
  .tabcontent {
    width: 100%;
    padding: 0;
  }
  .logo {
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  /* For tablets: */
  .header {
    display: block;
    text-align: center;
  }
  .navbar {
    display: block;
    text-align: center;
  }
  .tabcontent {
    width: 100%;
    font-size: 15px;
    padding: 0;
  }
  .content {
    font-size: 18px;
  }
  .logo {
    padding: 0px;
  }
  .footer {
    font-size: 15px;
    display: block;
  }
}
@media screen and (max-width: 500px) {
  /* For mobile phones: */
  .navbar, .tabcontent, .logo, .slava {
    width: 100%;
    padding: 0;
  }
  .logo {
    border-bottom: 5px solid rgb(221, 221, 221);
  }
  .tabcontent {
    font-size: 15px;
  }
  .content {
    font-size: 18px;
  }
  .footer {
    font-size: 15px;
    align-items: center;
    display: block;
  }
}